#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BT_SSP_DISABLE 1

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            quick-tap-ms = <200>;
        };

        shifthr: shifthr {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFTHR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <185>;
            flavor = "tap-preferred";
            quick-tap-ms = <185>;
        };

        weak: weak {
            compatible = "zmk,behavior-hold-tap";
            label = "WEAK";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            quick-tap-ms = <230>;
        };

        backspace: backspace {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSPACE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LC(BACKSPACE)>;
        };

        altspaceescape: altspaceescape {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTSPACEESCAPE";
            bindings = <&lt 1 SPACE>, <&kp ESCAPE>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        altretcaps: altretcaps {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTRETCAPS";
            bindings = <&lt 1 RET>, <&kp CAPS>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        togglegamelayer {
            bindings = <&tog 5>;
            key-positions = <38 37>;
        };

        game-escape {
            bindings = <&kp ESCAPE>;
            key-positions = <2 1>;
            layers = <5 4>;
        };

        gaming-enter {
            bindings = <&kp ENTER>;
            key-positions = <4 3>;
            layers = <5 4>;
        };
    };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp O &kp E &kp DOT &kp P &kp R &kp I &kp N &kp G &kp L &kp E &kp AT &kp P &kp R &kp O &kp T &kp O &kp N &kp DOT &kp M &kp E>;
            label = "EMAIL";
        };

        switch_to_linux: switch_to_linux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &tog 0>;
            label = "SWITCH_TO_LINUX";
        };

        switch_to_windows: switch_to_windows {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &tog 0>;
            label = "SWITCH_TO_WINDOWS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&none  &none              &none             &none                    &none                  &none                                            &none      &none             &none             &none              &none             &none
&none  &kp Q              &kp W             &kp E                    &kp R                  &kp T                                            &kp Y      &kp U             &kp I             &kp O              &kp P             &none
&none  &weak LEFT_META A  &weak LEFT_ALT S  &shifthr LEFT_CONTROL D  &shifthr LEFT_SHIFT F  &kp G                                            &kp H      &shifthr RSHFT J  &shifthr RCTRL K  &weak RIGHT_ALT L  &weak RMETA SEMI  &none
&none  &kp Z              &kp X             &kp C                    &kp V                  &kp B            &none              &none        &kp N      &kp M             &kp COMMA         &kp PERIOD         &kp FSLH          &none
                                            &none                    &mo 2                  &lt 3 BACKSPACE  &altspaceescape    &altretcaps  &lt 3 TAB  &mo 2             &none
            >;
        };

        NumBtl {
            display-name = "number";
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                          &trans        &trans        &trans        &trans        &trans        &trans
&none   &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &none
&none   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&none   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none     &none   &kp F11       &kp F12       &none         &none         &none         &none
                                    &trans        &bt BT_CLR    &bt BT_NXT    &trans    &trans  &trans        &trans        &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans                &trans             &trans                &trans                 &trans                           &trans       &trans     &trans    &trans     &trans     &trans
&trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                           &kp CARET    &none      &trans    &kp GRAVE  &none      &trans
&trans  &kp EXCL              &kp AT             &kp HASH              &kp DOLLAR             &kp BACKSLASH                    &kp PERCENT  &kp MINUS  &kp PLUS  &kp STAR   &kp EQUAL  &trans
&trans  &kp NON_US_BACKSLASH  &kp SLASH          &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE2      &trans    &trans  &kp PIPE     &kp UNDER  &none     &none      &none      &trans
                                                 &trans                &trans                 &trans         &trans    &trans  &trans       &trans     &trans
            >;
        };

        NavAct {
            bindings = <
&trans  &trans      &trans           &trans          &trans      &trans                        &trans   &trans          &trans        &trans          &trans           &trans
&trans  &kp C_PREV  &kp C_VOLUME_UP  &kp C_VOL_DN    &kp C_NEXT  &kp C_PP                      &trans   &trans          &trans        &trans          &trans           &trans
&trans  &kp LEFT    &kp UP_ARROW     &kp DOWN_ARROW  &kp RIGHT   &kp DELETE                    &kp INS  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp HOME    &kp PG_UP        &kp PAGE_DOWN   &kp END     &trans      &trans    &trans  &trans   &kp HOME        &kp PG_DN     &kp PG_UP       &kp END          &trans
                                     &trans          &trans      &trans      &trans    &trans  &trans   &trans          &trans
            >;
        };

        gaming {
            display-name = "gaming";
            bindings = <
&none    &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                                    &none        &none             &none             &none              &none             &none
&kp TAB  &kp T           &kp Q         &kp W         &kp E         &kp R                                     &kp Y        &kp U             &kp I             &kp O              &kp P             &none
&kp I    &kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F                                     &kp H        &shifthr RSHFT J  &shifthr RCTRL K  &weak RIGHT_ALT L  &weak RMETA SEMI  &none
&kp G    &kp F1          &kp Z         &kp X         &kp C         &kp V             &none        &none      &kp N        &kp M             &kp COMMA         &kp DOT            &kp FSLH          &none
                                       &none         &kp LEFT_ALT  &kp LEFT_CONTROL  &kp SPACE    &lt 1 RET  &lt 5 SPACE  &none             &none
            >;
        };

        GamingNum {
            bindings = <
&kp F1   &kp F2   &kp F3   &kp F4     &kp F5     &kp F6                          &trans  &trans  &trans  &trans  &trans  &trans
&kp F7   &kp F8   &kp F9   &kp F10    &kp F11    &kp F12                         &trans  &trans  &trans  &trans  &trans  &trans
&kp F13  &kp F14  &kp F15  &kp F16    &kp F17    &kp F18                         &trans  &trans  &trans  &trans  &trans  &trans
&kp F19  &kp F20  &kp F21  &kp F22    &kp F23    &kp F24    &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
                           &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N4    &trans  &trans  &trans  &trans
            >;
        };
    };
};

